

.Wolfy::before{
content: "";
background-color: rgba(227, 35, 21, 0.533);
background-image: url("../img/posts/stock/Wolfy.svg") ;
background-size: cover;
border-radius: 0.5em;
height: 100px;
width: 100px;
display: inline-block;
float: left;
margin-right: 30px;
margin-bottom: 30px;
}

.Wolfy{
  font-style: italic;
  font-weight: bold;
  color:rgba(179, 10, 10, 0.927) ;
}

.SpecialInfo{
  font-weight: bolder;
  color:rgb(162, 178, 18) ;

}



.GammeC {
  width: 700px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image :  url("../img/posts/stock/DoMajeur.svg"),url("../img/posts/stock/MancheGuitare.svg");
  }


  
  .Guitare{
    width: var(700px);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image :  url("../img/posts/stock/DoMajeur.png"),url("../img/posts/stock/Manche.png");
    }



    .Tabs{
        font-weight: bold;
        background-color: rgba(4, 83, 254, 0.05);
        letter-spacing: 15px;
        text-align: center;
        border-width: 5%;
        border-style: double;
        border-radius: 20%;
        border-color: rgba(0, 0, 0, 0.10);
        }

.Youtube{
  background-size:500px;

        }

        .container2 {
          display: flex;
          width: 750px;
          height: 350px;
          border: 2px solid rgba(255, 0, 0, 0);
        }
        
        .container2 img {
          max-width: 48%;
        }


        .container3 {
          display: flex;
          width: 750px;
          height: 350px;
          border: 2px solid rgba(31, 3, 3, 0);
        }
        
        .container3 img {
          max-width: 32%;
          border: 2px solid rgba(255, 0, 0, 0);
         
        }

        .container1 {
          display: flex;
          width: 750px;
          height: 350px;
          border: 2px solid rgba(255, 0, 0, 0);
        }
        
        .container1 img {
          max-width: 80%;
        }